*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container-body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}
/* .navbar Start */
.navbar{
    width: 100%;
    /*height: 150px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo{
    cursor: pointer;
}
.navbar nav ul{
    margin-top: 20px;
    display: flex;
}
.navbar nav ul li{
    list-style: none;
    padding: 0 1.1em;
}
.navbar nav ul li a{
    color: #59372a;
    font-size: 1.1em;
    display: block;
    letter-spacing:2px;
    font-weight: 400;
    transition: 0.5s;
}
.navbar nav ul li a:hover{
    text-decoration: none;
    color: #C69C6D;
}
/* responsive navbar */
.toggle-button{
    position:absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    top: 2.4em;
    right: 1.5em;
}
.toggle-button .bar{
    width: 100%;
    height: 4px;
    background-color: #C69C6D;
    border-radius: 10px;
}
/* ------- */
.search-bar{
    height: 45px;
    width: 180px;
    border: 4px solid #C69C6D;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.search-bar input{
    color: #42210B;
    padding:0 10px;
    width: 140px;
    border-radius: 15px;
    border: none;
    background-color: transparent;
    outline:transparent;
}
.search-bar i{
    cursor: pointer;
    padding-right: 15px;
    padding-top: 20px;
    font-size: 1em;
    color: #42210B;
} /* Popup Start */
.pop-up-start{
    padding-left: 10px;
    border-radius: 10px;
    text-align: center;
}
.pop-up-start p{
    font-size: 1em;
    color: #42210B;
    padding-top: 10px; 
}
 /* Popup End   */
/* -------------nav end ---------- */
/* MAIN START */
.main-page{
    width: 100%;
    max-height: 100vh;
    margin-bottom: 50px;
    position: relative;
}
.main-page .carousel-inner{
    max-height: 100vh!important;
}
.main-page img{
    object-fit: cover;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
}
.carousel-caption h3{
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.carousel-caption p{
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 40px;
}
.carousel-caption button{
    background-color: #C82333;
    color: white;
    width: 200px;
}
.carousel-caption button:hover{
    background-color: #e72c3f;
}
@media screen and (max-width:1366px) {
    .carousel-caption{
        top: 50%;
    }
}
@media screen and (max-width:1000px) {
    .toggle-button{
        display: flex;
    }
    .navbar-links{
       display: none;
       position: absolute;
       z-index: 9999;
       top: 79%;
       opacity: .9;
       width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        flex-direction: column;
        width: 100%;
    }
    .navbar-links li{
        background-color: #f0ad4e;
        text-align: center;
    }
    .navbar-links li:hover{
        background-color: #919191;
    }
    .navbar-links li:last-child{
        border-radius: 0 0 15px 15px;
    }
    .navbar-links li a{
        width: 100%;
        padding: 0.5em 1em;
    }
    .navbar nav ul li a:hover{
        color: #ffffff;
    }
    .navbar-links.active{
        display: flex;
    }
    .navbar .search-bar{
        position: absolute;
        top: 1.9em;
        left: 40%;
    }
    .carousel-caption h3{
        font-size: 1.6em;
        margin-bottom: 20px;
        letter-spacing: 2px;
    }
    .carousel-caption p{
        font-size: 0.8em;
        letter-spacing: 1px;
    }
    .carousel-caption button{
        width: 70%;
    }
}
@media screen and (max-width:768px) {
    
    .carousel-caption{
        width: 70%;
    }
    .carousel-caption h3{
        display: inline-block;
        width: 100%;
        font-size: 1.4em;
        letter-spacing: 2px;
    }
    .carousel-caption p{
        font-size: 0.8em;
        letter-spacing: 1px;
        color:snow;
    }
    .carousel-caption button{
        font-size: 0.7em;
        width: 50%;
    }
}
@media screen and (max-width:600px) {
    .carousel-caption{
        top: 40%;
        width: 80%;
    }
    .carousel-caption h3{
        width: 90%;
        font-size: 1.1em;
        margin-bottom: 5px;
        letter-spacing: 2px;
    }
    .carousel-caption p{
        font-size: 0.6em;
        letter-spacing: 1px;
        color:snow;
    }
    .carousel-caption button{
        width: 70%;
    }
    .carousel-indicators {
        display: none;
    }
}
@media screen and (max-width:500px){
    .search-bar{
        display: none;
    }
    .pop-up{
        display: none;
    }
}
@media screen and (max-width:400px){
    .carousel-caption p{
        margin-bottom: 20px;
    }
}
 /* for samsung galaxy fold */
@media screen and (max-width:300px){
    .carousel-caption{
        top: 30%;
    }
    .carousel-caption p{
        margin-bottom: 10px;
    }
}
/* --------MAIN End ------- */

/* --------BOLUM 2 Start --------*/
.section-2{
    margin-bottom: 70px;
}
.section-2 article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
.section-2 article h2{
    margin-bottom: 20px;
    font-weight: bold;
    color: #59372a;
}
.section-2 article p{
    font-size: 1.2em;
    letter-spacing: 2px;
    padding:0 25px;
    color: #C69C6D;
}
.card{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.card img{
    width: 15rem;
    height: 18rem;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 5px 5px 5px #919191;
    object-fit: cover;
}
.card img:hover{
    transform: scale(1.1);
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.card-body p{
    color: #59372a;
    letter-spacing: 1.5px;
}
.section-2 a{
    display: block;
    text-decoration: none;
    margin: 40px auto 0px;
    width: 30%;
    padding: 15px 25px;
    background-color: #C69C6D;
    color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 1px;
    transition-duration: 0.6s;
}
.section-2 a:hover{
    background-color: #9b7850;
}
@media screen and (max-width:999px){
    .card img{
        height: 14rem;
        width: 100%;
        margin-bottom: 20px;
    }
    .card-body{
        padding: 0 10px;
    }
}
@media screen and (max-width:768px) {
    .card{
        margin: 0;
        padding: 0;
    }
    .card img{
        width: 80%;
        height: 13rem;
    }
    .card-body p{
        color: #59372a;
        letter-spacing: 1px;
        margin: 0 -15px;
    }
}
@media screen and (max-width:578px) {
    .card{
        max-width: 60%;
        margin:0 auto;
        padding-bottom: 25px;
    }
    .card img{
        height: 14rem;;
    }
    .section-2 a{
        font-size: 1em;
        width: 60%;
        margin-top: -10px;
    }
}
@media screen and (max-width:420px){
    .card img{
        height: 12.5rem;
    }  
}
/* ------Bolum 3 Start  ----- */
.section-3{
    width: 100%;
    margin-top: 20px;
}
.section-3 .section-cards{
    height: 15.6em;
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#C69C6D;
}
.section-3 .section-cards img{
    object-fit: cover;
}
.section-3 .section-cards h4{
    font-size: 1.4em;
    padding:10px 20px 5px 20px;
    text-align: center;
    color: #59372a;
}
.section-3 .section-cards p{
    font-size: 0.9em;
    color: rgb(224, 224, 224);
    padding:5px 30px;
    
}
.dual-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: content-box;
}
@media screen and (max-width:575px) {
    .section-3 .dual-cards .section-cards{
        height: 11em;
    }
    .section-cards:nth-of-type(3){
        order: 2;
    }
    .section-cards:nth-of-type(4){
        order: 1;
    }
}
/* ------ BOLUM 3 END ----- */
/* ------ BOLUM 4 START ----- */
.section-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}
.section-4 h3{
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    color: black;
}
.section-4 p{
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(59, 59, 59);
}
.section-4 .mail-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    margin: 0 auto;
    width:65%;
    height: 40px;
    border-radius: 20px;
    border: 3px solid #C69C6D;
    border-right: none;
}
.section-4 .mail-bar input{
    outline: transparent;
    width: 70%;
    border-radius: 20px;
    border: none;
    padding:0px 20px;
}
.section-4 .mail-bar .mail-button{
    display: block;
    text-decoration: none;
    height: 40px;
    border-radius: 20px;
    font-size: 1em;
    background-color: #59372a;
    color: white;
    border: none;
    width: 80px;
    text-align: center;
    padding-top: 8px;
}
@media screen and (max-width:767px){
    .section-4 .mail-bar{
        width:85%;
    }
}
/* ------------- Footer ---------- */
footer{
    background-color: rgb(129, 98, 98);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
}
footer .footer-icerik{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}
footer h5,a{
    letter-spacing: 1.2px;
}
footer h5{
    font-size: 1.2em;
    margin-bottom: 15px;
    font-weight: 400;
}
footer p{
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 0.5px;
}
footer .icons i{
    font-size: 1em;
    margin:5px 10px 0px 0px;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
    padding:5px;
    color: rgb(129, 98, 98);
    transition: 0.5s;
}
footer .icons i:hover{
    color: #f0ad4e;
}
footer .sag-taraf{
    padding-left: 50px;
}
footer nav{
    margin: 0px 20px;
}
footer nav a{
    font-size: 0.8em;
    display: block;
    transition:0.5s;
    color: white;
    font-weight: 300;
    margin: 5px 0px;
}
footer nav a:hover{
    text-decoration: none;
    color: #f0ad4e;
}
@media screen and (max-width:768px){
    footer{
        padding: -10px;
    }
    footer .footer-icerik{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    footer .sol-taraf{
        margin-left: 20;
        padding:0;
    }
    footer h5{
        font-size: 1em;
    }
    footer p{
        font-size: 0.7em; 
    }
    footer .sag-taraf{
        padding-left: 20px;
    }
}
 @media screen and (max-width:577px) {
    footer .sag-taraf{
        display: none;
    }
} 

     /* scroll animation  start*/ 
     .reveal {
        position: relative;
        opacity: 0;
      }
      .reveal.active {
        opacity: 1;
      }
      .active.fade-bottom {
        animation: fade-bottom 1s ease-in;
      }
      .active.fade-left {
        animation: fade-left 1s ease-in;
      }
      .active.fade-right {
        animation: fade-right 1s ease-in;
      }
      .active.fade-nav-links{
        animation: fade-nav-links 1.5s ease-in;
      }
    
      @keyframes fade-bottom {
        0% {
          transform: translateY(50px);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
      @keyframes fade-left {
        0% {
          transform: translateX(-100px);
          opacity: 0;
        }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }
      @keyframes fade-right {
        0% {
          transform: translateX(100px);
          opacity: 0;
        }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }
      @keyframes fade-nav-links {
        0% {
            transform: translateX(300px);
            opacity: 0;
          }
        85% {
            transform: translateX(-100px);
        }
          100% {
            transform: translateX(0px);
            opacity: .9;
          }
      }
        /* scroll animation  End */